.card-front,
.card-reverse {
  border-radius: 5px;
  display: block;
  // width: 100%;
}

.single-card {
  position: relative;
}

// .single-card img {
//   border-radius: 5px;
//   display: block;
//   width: 100%;
// }

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 15px;
}

// .cards-grid {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   gap: 15px;
// }
