.home {
  height: 86vh;
  &__container {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  &__content {
    font-size: 24px;
    line-height: 2;
    padding: 80px 0;
    text-align: center;

    h1 {
      padding-bottom: 20px;
    }

    p {
      padding-bottom: 30px;
    }
  }

  .new-game-btn {
    color: #5b283a;
    border: 2px solid #5b283a;
    border-radius: 40px;
    font-weight: 500;
    padding: 15px 40px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .new-game-btn:hover {
    background-color: #5b283a;
    color: whitesmoke;
    transition: 0.5s;
  }
}
