.scores-list {
  height: 86vh;
  &__container {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  &__content {
    width: 350px;
    margin: 60px auto;
    padding-bottom: 20px;
    border: 2px solid #5b283ad8;
    border-radius: 5px;
  }

  &__header {
    background-color: #5b283ad8;
    color: whitesmoke;
    display: flex;
    font-size: 1.2em;
    font-weight: 500;
    justify-content: space-between;
    padding: 20px 30px;
  }

  .single-score {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
  }

  .score {
    font-weight: 500;
  }
}
