.scores-list {
  height: 86vh;
  &__container {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  &__content {
    width: 300px;
    margin: 60px auto;
    padding: 40px 20px;
    border: 2px solid #5b283a6e;
    border-radius: 5px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  .single-score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
}
