.single-card {
  position: relative;
}

.single-card img {
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  display: block;
  width: 100%;
}

.card-front {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}

.flipped .card-front {
  transform: rotate(0deg);
  transition-delay: 0.2s;
}

.card-reverse {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .card-reverse {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
